body {
    background-color: #00ffff;
    /* Azul ciano */
    color: #ffffff;
    /* Branco */
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
}

select {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #fff;
    background-color: #007fff;
    /* Azul médio */
    color: #fff;
    /* Branco */
}

option {
    background-color: #007fff;
    /* Azul médio */
    color: #fff;
    /* Branco */
}